
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/MainView.cshtml";
}
<div class="jumbotron">
    <h1>Admine Place</h1>
    <p>This website is a quick Service to illustrate how the The Factory work and how to deteal with other services . It includes the Payment and another, so it also adapts to your viewport and device.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="@Url.Action("List_product","Products")" role="button">To Main Website&raquo;</a>
    </p>
    </div>

    <h2>Welcom</h2>

